.section{
    height:auto;
    width:55%;
    border-radius:25px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
}
#signup {
    font-family: helvetica;
    color: #333;
    padding: 0 15px;
    padding-top:10px;
  }
  #signup * {
    box-sizing: border-box;
  }
  .signup-heading {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    font-family: Poppins-Bold;
    color:#0e0e52;
    margin: 10px 10px;
    text-align: center;
  }
  .signup-copy {
    text-align: center;
    margin-bottom: 30px;
    color:grey;
  }
  .signup-form {
    margin: 60px auto;
    display: block;
    padding: 20px 30px 30px 30px;
    max-width: 500px;
    background: white;
    font-family: Poppins-Medium;
      font-size: 16px;
      color: #333333;
      line-height: 1.2;
  }
  .signup-form .field {
    position: relative;
    display: block;
    margin: 10px 0;
    height: 54px;
    width: 100%;
    background: white;
    border: #f0f;
    line-height: 44px;
  }
  .signup-form .field.-focused label {
    font-size: 11px;
    line-height: 12px;
    color: #888;
    bottom: auto;
    top: 8px;
    font-weight: bold;
  }
  .signup-form .field.-focused input {
    line-height: 62px;
  }
  .signup-form span{
      font-size: 16px;
      color: #0e0e52;
      line-height: 1.5;
      padding-left: 10px;
  }

  .signup-form input {
    position: absolute;
    border:0;
    outline: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: Poppins-Medium, sans-serif;
    left: 0;
    width: 100%;
    z-index: 2;
    display: block;
    background: transparent;
    line-height: 54px;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    color: #333;
    border-radius: 3px;
    border-bottom:2 px solid  ;
    border: 1px solid transparent;
    -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .signup-form  input:hover{
    -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-bottom:1px solid #0e0e52;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .signup-form input:focus, .signup-form input:active {
    outline: none;
    border-color: #ededed;
  }
  .signup-form button {
    display: block;
    margin: 30px 0;
    height: 54px;
    width: 100%;
    background: #424294;
    border: 1px solid #0e0e52;
    border-top-color: transparent;
    border-radius: 53px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.1);
    -webkit-transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .signup-form button:hover {
    background: #0e0e52;
    cursor: pointer;
  }
.error{
  color: red;
}